.control-radio {
  @extend %basic-form-control;
  display: inline-block;
  margin-bottom: 0;
  position: relative;

  input {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -7px;

    &:checked + .control-radio__label {
      background: $grey-light;
    }

    &:focus {
      border-radius: 13px;
      box-shadow: 0 0 5px rgba($orange, 0.9);
      outline: none;
      border-color: $orange;
    }
  }

  .control-radio__label {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 15px;
  }
}

.control-radio-group {
  @extend %basic-form-control;
}