.control-checkbox {
  @extend %basic-form-control;
  position: relative;
  zoom: 1;

  a {
    @extend .anchor-1;
  }

  input {
    left: 0;
    position: absolute;
    top: 5px;

    &:focus {
      box-shadow: 0 0 5px rgba($orange, 0.9);
      outline: none;
      border-color: $orange;
    }
  }

  .control-checkbox__label {
    cursor: pointer;
    display: inline-block;
    padding-left: 20px;
  }
}